<p>list works!</p>
<h4>Listado</h4>
<ul class="list-group">  <!-- Lista para poder darle un estilo con la clase "list-group" de bootstrap, en cuanto a el ngFor, 
  permite recorrer todos los personajes y mostrarlos -->
  <li *ngFor="
  let character of characterList;
  let i =index;
  let isFirst = first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd;
  "
  class="list-group-item d-flex justify-content-between  
  align-items-center"
  [ngClass]="{
    'list-group-item-dark': isLast,
    'list-group-item-primary': isEven
  }"> <!-- Con el class = "..." estiliza cada ítem, con los dos list-group, a el último objeto y al primero se le asigna la clase 
    que tienen entre comillas -->

  <div>
    <span class="text-primary">{{i+1}}</span>
    <span>{{ character.name}} - </span>
    <strong>Power: </strong>
    <span>{{character.power}}</span>
  </div>  <!-- Se muestran los datos del personaje -->

  <button class="btn btn-danger" (click)="onDeteteCharacter(i)" >X</button> <!-- Botón que elimina el personaje -->

  </li>
</ul>
