<h1>DBZ Personajes</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- onDelete-->
    <dbz-list [characterList]="characters"
    (onDelete)="onDeleteCharacter($event)"></dbz-list> <!-- El dbz list a través del array characterList se encarga de mostrar todos los personajes, 
    y el evento onDelete se emite cuando se elimina un personaje -->



  </div>

  <div class="col">

    <dbz-add-character (onNewCharacter)="onNewCharacter($event)"></dbz-add-character> <!-- Evento que se encarga de añadir un nuevo personaje --> 



  </div>
</div>
